
html, body {
    height: 100%;
    background: linear-gradient(-45deg, rgb(78, 78, 248), rgb(197, 84, 231));
}

.content {
    width: 100%;
    height: 100%;
    display: table;
    vertical-align: middle;
}

.content div{
    height: 10%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.content div p{
    width: 20%;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    border: 0px solid rgb(207, 46, 46);
    border-radius: 10px;

    transform: rotate3d(1,2,2, 0deg);

    transition: all 1s linear 0s;
    -webkit-transition: all 1s linear 0s;
    -o-transition: all 1s linear 0s;
    -moz-transition: all 1s linear 0s;
}

.content div p:hover
{
    color: rgb(255, 0, 149);
    width: 70%;
    font-size: 5em;
    cursor: pointer;
    border: 10px solid rgb(46, 207, 46);
    border-radius: 10px;
    
    transform: rotate3d(5,5,5, 360deg);
}

.content div p #firstWord{
    color: green;
    opacity: 0;

    transition: all 1s linear 0s;
    -webkit-transition: all 1s linear 0s;
    -o-transition: all 1s linear 0s;
    -moz-transition: all 1s linear 0s;
}

.content div p #secondWord{
    color: brown;
    opacity: 0;

    transition: all 1s linear 0s;
    -webkit-transition: all 1s linear 0s;
    -o-transition: all 1s linear 0s;
    -moz-transition: all 1s linear 0s;
}

.content div p #firstWord:hover{
    color: aquamarine;
    transform: skew(40deg);
    opacity: 1;
}

.content div p #secondWord:hover{
    color: gray;
    transform: skew(40deg);
    opacity: 1;
}